<header class="site-header" role="banner">
    <nav class="site-nav">
        <ul class="site-nav__list">
            {% for link in site.navigation %}
                {% if page.url == link.url %}
                    <li><a class="site-nav__item active" href="{{ link.url }}">{{ link.text }}</a></li>
                {% else %}
                    <li><a class="site-nav__item" href="{{ link.url }}">{{ link.text }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>
