{% if page.url == '/' %}
<div class="social social--home">
{% else %}
<div class="social">
{% endif %}
    <div class="social__icon">
        <a href="https://github.com/{{site.github_username}}">
            {% include icon-github.svg %}
        </a>
    </div>
    <div class="social__icon social__icon--linked-in">
        <a href="https://linkedin.com/in/{{site.linkedin_username}}">
            <img src="/assets/images/icon-linkedin.png" alt="LinkedIn">
        </a>
    </div>
    <div class="social__icon">
        <a href="https://twitter.com/{{site.twitter_username}}">
            {% include icon-twitter.svg %}
        </a>
    </div>
    <div class="social__icon">
        <a href="mailto:{{site.email}}">
            {% include icon-mail.svg %}
        </a>
    </div>
</div>