body {
  min-height: 100vh;
  font-family: $font-family;
  //background: $background-color;
  background-color: #87b2f0;
  background-image: $background;
  color: $font-color;
}

a {
  color: $link-color;
}

a:hover, a:focus {
  border-bottom: 1px solid $link-color;
}

.site-footer, .site-content {
  padding: $spacer;
}