html, body {
  font-size: 100%;
  background: $c-background;
  font-family: 'Roboto', sans-serif;
}

body {
  padding-top: 64px;
  padding-bottom: 200px;
  min-height: 100vh;
  position: relative;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: $spacing / 2 * 3;
  margin-bottom: $spacing / 3;
}

p {
  line-height: 1.5em;
  margin-top: $spacing / 3;
  margin-bottom: $spacing / 3;
  color: $c-text-light-gray;
}