
// ===================================
// Colors
// ===================================
$background-color: #504040;
$frame-color-start: #504040;
$frame-color-end: #a66548;
$frame-shadow: 0px 2px 10px 2px rgba(mix(saturate($frame-color-start, 20%), black), 0.4);
$content-background-color: #1F1F1F;
$content-background-shadow: inset 0px 0px 20px 0px saturate($content-background-color, 30%), inset 0px 0px 5px 0px saturate($frame-color-start, 10%);

$text-color: rgba(255,255,255,0.75);
$link-color: rgba(255, 255, 255, 0.8);
$border-color: rgba(255,255,255,0.2);

// ===================================
// Fonts
// ===================================
$font-family: Arial, sans-serif;
$font-family-heading: 'Fredericka The Great', Tahoma, serif;

// ===================================
// Spacing
// ===================================

$spacer: 10px;

// Frame
$content-width: 800px;
$frame-padding: 15px;
$frame-margin: 5px;

// Header
$header-height: 48px;
