// Colors
$c-primary: #2D9CDB;
$c-secondary: #9B51E0;
$c-background: #F2F2F2;
$c-dark-gray: #BDBDBD;
$c-light-gray: #E0E0E0;

$c-text-white: #F2F2F2;
$c-text-light-gray: #4F4F4F;

// Spacing
$spacing: 24px;
$nav-height: 64px;

// Easing
$ease-out: ease-out;

// Breakpoints
$bp-mobile: 768px;
$bp-tablet: 900px;