.site-header__title {
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;


  min-height: $header-height;
  width: 100%;
  padding-top: $spacer * 3;
  padding-bottom: $spacer * 3;
}