.hero {
  display: inline-block;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;

  background: linear-gradient(-15deg, $c-background 20%, $c-primary 0%) $c-primary;

  @media screen and (min-width: $bp-mobile) {
    text-align: left;
    padding-left: 24px;
    padding-top: 72px;
    padding-bottom: 72px;

    background: linear-gradient(-15deg, $c-background 50%, $c-primary 50%) $c-primary;
  }

  &__title {
    display: inline-block;
    margin: 0;
    color: $c-text-white;
    transition: opacity 200ms $ease-out;
  }

  &__sub-title {
    margin: 0;
    letter-spacing: 0.05em;
    color: $c-text-white;
    transition: opacity 200ms $ease-out;
  }
}

.hero--large {
  padding-top: 72px;
  padding-bottom: 72px;
}

// Animations
//.is-loading {
//  .hero__title, .hero__sub-title {
//    opacity: 0;
//  }
//}