<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{% include head.html %}

<body>
    {% include header.html %}
    {% include social.html %}

    {{ content }}

    {% include footer.html %}
    <script>
        var siteNav = document.querySelector('.site-nav');

        if(siteNav) {
            window.addEventListener('scroll', function() {
               if(document.body.scrollTop > 0) {
                   siteNav.classList.add('site-nav--scrolled');
               } else {
                   siteNav.classList.remove('site-nav--scrolled');
               }
            });
        }
    </script>
</body>
</html>
