---
layout: default
---

<div class="home">

    <div class="hero hero--large">
        <h1 class="hero__title">Zach Barnes</h1>
        <p class="hero__sub-title h3">Front End Web Developer</p>
    </div>

    <div class="post__content">
        <h2>A Little Bit About Me</h2>

        <p>
            My name is Zach Barnes. I have a <strike>obesssion</strike> passion for coffee and food. I'm a front end web developer currently based in Charlotte.
            I thrive architecting and building UI frameworks. I enjoy the back and forth between design and development,
            and the ability to make a designers creations come to life.
        </p>
        <div class="u-center">
            <a href="/resume" class="button">View my resume</a>
        </div>

        <h2>Blog posts</h2>
        <p>Coming soon...</p>

        <h2>Recent projects</h2>
        <ul class="project-list project-list--home">
            {% for project in site.projects limit: 3 %}
            <li class="project project--small">
                <a href="{{project.url}}">
                    <div class="project__media {% if project.image %} project__media--image {% endif %}">
                        {% if project.image %}
                        <img src="{{project.image}}" alt="{{project.alt}}">
                        {% else %}
                    <span>
                        {{ project.name | uppercase | slice: 0 }}
                    </span>
                        {% endif %}
                    </div>
                    <p class="project__name">{{ project.name }}</p>
                </a>
            </li>
            {% endfor %}
            <li class="project project--small">
                <a href="/projects">
                    <div class="project__media project__media--outline">
                        <span>...</span>
                    </div>
                    <p class="project__name">See more</p>
                </a>
            </li>
        </ul>
    </div>

</div>
