---
layout: default
---

<div class="home">

    <div class="hero hero--large">
        <h1 class="hero__title">Zach Barnes</h1>
        <p class="hero__sub-title h3">Front End Web Developer</p>
    </div>

    <div class="post__content">
        <h2>Blog posts</h2>
        <ul class="blog-post-list">
            <div class="blog-post">
                <div class="blog-post__image"></div>
                <h3 class="blog-post__title">Blog post</h3>
                <p class="blog-post__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris eu pretium libero.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris eu pretium libero.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris eu pretium libero.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris eu pretium libero.
                </p>
            </div>
        </ul>
    </div>

</div>
