
.u-margin {  margin: $spacer !important;  }
.u-margin-top {  margin-top: $spacer !important;  }
.u-margin-bottom {  margin-bottom: $spacer !important;  }
.u-margin-left {  margin-left: $spacer !important;  }
.u-margin-right {  margin-right: $spacer !important;  }